html {
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;;
    font-size: 14px;
}

body {
    margin: 0px;
}

main {
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
}

.all_navigation{
    display: inline-block;
    margin-left: 20%;
    margin-right: 20%;
}

header {
    background-color: #F0F1F3;
    text-align: left; 
}

header div {
    display: inline-block;
    margin-top: 3vh;
}

header div a img{
    max-width: 150px;
    max-height: 150px;
}

header div  nav{
    display: inline-block;
}

header nav ul {
    display: inline-block;
    margin-bottom: 10px;
    padding: 0px;
    overflow: hidden;
    text-align: left;
  }

nav ul {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  text-align: center;
}

nav li {
  display: inline-block;
  color: #c29720;
}

nav li a {
    color: #c29720;
    text-decoration:none;
}

nav li::after {
    content: "|";
    display: inline-block;
    padding: 8px 1px 8px 10px;
}
  
nav li:last-child::after {
    content: "";
}

a {
    color: #b99635;
    text-decoration: none;
}

a:hover {
    color:#A01127;
    text-decoration: underline;
}

abbr {
    text-decoration: none;
}

h1 {
    color:#A01127;
    font-size: 2.5rem;
}

h2 {
    color:#A01127;
    font-size: 2rem;
    border-bottom: 2px solid #A01127 ;
}

h3 {
    color: #977517;
    font-size: 1.5rem;
}

ol li {
    font-size: 1.5rem;
}

ul li {
    list-style-type: square;
    font-size: 1rem;
    margin: 5px;
}

.no_number {
  list-style-type:none
}

.first_letter_red li::first-letter {
    color: #A01127;
    font-weight: bold;
  }

.fuente {
    font-size: 0.75rem;
}

.main_index {
    text-align: center;
}

.homeImage {
    background-color: white;
    background-image: url("../img/home2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.image_main {
    margin-top: 14vh;
}


/* Categoria */

.text-left{
    text-align: left;
}

.category-section {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    border-top: 2px dotted #9b1700;
}

.category-nav {
    position: sticky;
    top: 0px;
    height: 300px;
}

.category-nav a{
    display: block;
    color: #1c1c1c;
    margin-bottom: 5px;
}

.category-nav a:hover{
    color: rgba(28, 28, 28, 0.5);
}

.category-nav-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.category-nav-item div a{
    display: block;
}

.category-nav-item img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

/* Detalle */

.detail-section {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    border-top: 2px dotted #9b1700;
}

.receta {
    text-align: center;
}

.receta p {
    text-align: justify;
}

.receta img {
    height: 250px;
    width: 350px;
    object-fit: cover;
}

.my-slider img {
    height: 250px;
    width: 350px;
    object-fit: cover;
}

/* Style the list */
ul.breadcrumb {
    list-style: none;
    text-align: left;
    padding-left: 0px;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    color: rgb(28, 28, 28, 0.5);
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: rgb(28, 28, 28);
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: rgb(28, 28, 28, 0.5);
}

/* Presentacion */

.presentation {
    text-align: center;
}

.presentation p {
    text-align: justify;
}

.presentation img {
    height: 250px;
    width: 350px;
    object-fit: cover;
}

/* Enlaces */

.links ul li {
    margin-bottom: 8px;
}

.links {
    margin-bottom: 50px;
}

.separation {
    border-bottom: 2px dotted grey;
    margin: 30px 0px;
}

footer {
    background-color: #BBB;
    color: white;
    padding-left: 20px;
}

footer p {
    text-align: left;
}

footer div {
    padding-bottom: 10px; /*Desplazamos el contenido de la caja para que haya margen */
    text-align: left;
}


.div_centrado {
    margin-left: 20%;
    margin-bottom: 50px;
}

iframe {
    margin-left: 50px;
    margin-bottom: 20px;
    border: 0px;
}

/* sobreescribimos el de por defecto footer*/
.footer-index {
    background-color: transparent; 
    margin-bottom: 10px;
}

.footer-index p {
    margin-left: 10px;
    padding-top: 0px;
    text-align: left;
}

.footer-index div {
    position:absolute;
    bottom:0;
    margin: 0px;
    text-align: center;
}

.background_grey {
    display: inline;
    background-color: rgb(220,220,220);
}